name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image and upload it
      env:
        docker_hub_passwd: ${{ secrets.docker_hub_passwd }}
      run: |
        docker login -u nobodyxu -p c4ad26cd-ec1f-4dc8-821a-d38d13d01b8f
        docker build -t rust-and-clang .
        docker push nobodyxu/rust-and-clang:latest
